@mixin animation-mixin($name, $from, $to) {
  @keyframes slide-1 {
    0% {
      transform: translateY($from) scale(0.9);
      opacity: 0;
    }
    100% {
      transform: translateY($to) scale(1);
      opacity: 1;
    }
  }
}
@include animation-mixin(slide-1, 30%, 0);

.Slideshow {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 10px 20px;
  animation: slide-1 1s ease-in-out;
}

.Slideshow::after {
  content: " ";
  display: block;
  padding-bottom: 45%;
}

.SlideItem {
  width: 30%;
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transition: all 0.4s linear;
  left: 50%;
  transform: translateX(-50%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 2px rgba(0, 0, 0, 0.3),
    0 2px 4px -1px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.SlidePosition-1,
.SlidePosition-5 {
  z-index: 1;
  bottom: -7.5%;
  transform: translateX(-50%) scale(0.7);
}

.SlidePosition-2,
.SlidePosition-4 {
  z-index: 2;
  bottom: -3.75%;
  transform: translateX(-50%) scale(0.85);
}

.SlidePosition-3 {
  z-index: 3;
  bottom: 0;
}

.SlidePosition-1 {
  left: 10%;
}

.SlidePosition-2 {
  left: 25%;
}

.SlidePosition-4 {
  left: 75%;
}

.SlidePosition-5 {
  left: 90%;
}
