.Comment{
    text-align: left;
    transition: all 0.3s ease-in-out;
}

.Comment-tag.like{
    color: var(--primary-color-orange);
    margin-left: 20px;
    position: relative;
}

.Comment-tag.like::before{
    content: url('../../static/jpg/LikeIcon.svg');
    width: 24px;
    height: 22px;
    fill: var(--primary-color-orange);
    position: absolute;
    top: 10px;
    left: -30px;
    transform: rotate(-16deg);
}

.Comment-tag.like::after{
    content: url('../../static/jpg/LikeIcon.svg');
    width: 24px;
    height: 22px;
    fill: var(--primary-color-orange);
    position: absolute;
    top: 30px;
    left: -33px;
    transform: rotate(8deg) scale(0.8);
}

.Comment-tag.dislike{
    color: var(--red-color);
    margin-left: 20px;
    position: relative;
}

.Comment-tag.dislike::before{
    content: url('../../static/jpg/DislikeIcon.svg');
    width: 24px;
    height: 22px;
    fill: var(--primary-color-orange);
    position: absolute;
    top: 10px;
    left: -30px;
    transform: rotate(23deg);
}

.Comment-tag.dislike::after{
    content: url('../../static/jpg/DislikeIcon.svg');
    width: 24px;
    height: 22px;
    fill: var(--primary-color-orange);
    position: absolute;
    top: 30px;
    left: -33px;
    transform: rotate(-8deg) scale(0.8);
}

.Comment-content{
    border: 1.5px dashed var(--base-gray-color);
    border-radius: 10px;
    padding: 10px 15px;
    text-align: left;
    font-size: 0.8rem;
}

.Comment-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.Comment-footer div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Comment-footer-right p{
    cursor: pointer;
    transition: 0.2s all ease-in-out;
    font-weight: 500;
}

.Comment-footer-right p:hover{
    color: var(--text-black-color);

}

.Comment .Rate-like-dislike{
    transform: scale(0.7) translateX(-15%) translateY(-5px);
}

.Comment .reply-icon{
    width: 24px;
    height: 15px;
    fill: var(--gray-color);
    margin: 0 5px;
}

.Comment .dot{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: var(--gray-color);
    margin: 0 10px;
}

.reply-comments{
    width: 100%;
    height: 0;
    padding-left: 80px;
    transition: 0.3s height ease-in-out;
    overflow: hidden;
}

.reply-comments.active{
    height: calc(171px * var(--reply-length));
}