.SearchInBookstore {
  width: 44px !important;
  height: 111px !important;
  background: var(--text-gray100-color);
  border-radius: 10px 10px 10px 34px;
  position: fixed;
  top: 75px;
  right: 20px;
  z-index: 998;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  display: flex;
  flex-direction: column;
  align-items: center;

  & .search-icon,
  .tags-icon {
    width: 24px;
    height: 24px;
    fill: var(--white-color);
    position: absolute;
    right: 10px;
  }

  & .search-box {
    width: 0;
    font-size: 24px;
    color: var(--white-color);
    text-align: center;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--white-color);
    margin-top: 20px;
    padding-bottom: 5px;

    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: var(--base-gray-color);
      opacity: 1; /* Firefox */
    }

    &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: var(--base-gray-color);
    }

    &::-ms-input-placeholder {
      /* Microsoft Edge */
      color: var(--base-gray-color);
    }
  }

  & .tags-box {
    width: 40px;
    height: 40px;
    background: transparent;
    border-radius: 10px;
    position: absolute;
    right: 0;
    top: calc(10px * 2 + 24px);
    box-shadow: none;
    z-index: 10;
    transition: all 0.4s ease-in-out;

    & > .tags-icon {
      position: absolute;
      top: 10px;
      cursor: pointer;
      right: 10px;
    }

    & > .tags-title {
      font-size: 16px;
      color: var(--text-gray100-color);
      position: absolute;
      top: 10px;
      right: 45px;
      opacity: 0;
    }

    & > .tags-list {
      opacity: 0;
      margin-top: 40px;
      height: calc(100% - 40px);
      width: 100%;
      font-size: 18px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 10px 10px 10px;
      overflow-x: hidden;
      overflow-y: auto;
      opacity: 0;
      visibility: hidden;

      & > .tag {
        width: 100%;
        border-radius: 10px;
        text-align: left;
        padding: 5px 10px;
        cursor: pointer;

        &:hover {
          background: var(--base-gray-color);
        }
      }
    }

    &.active {
      width: 200px;
      height: 250px;
      background: var(--white-color);
      box-shadow: 0 3px 6px var(--base-gray-color);

      & > .tags-icon {
        fill: var(--text-gray100-color);
      }

      & > .tags-title {
        opacity: 1;
        visibility: visible;
      }

      & > .tags-list {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  & .search-icon {
    top: 10px;
  }

  & > .result-container {
    flex-grow: 1;
    width: 100%;
    // max-height: calc(100% - 180px);
    flex-basis: 0;
    margin-top: 40px;
    padding: 0 20px;
    visibility: hidden;
    opacity: 0;
    position: relative;
    z-index: 8;
    display: flex;
    flex-direction: column;

    & > .result-container__header {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      & > p {
        color: var(--white-color);
        font-size: 18px;
      }

      & > .search-control {
        display: flex;
        flex-direction: row;
        align-items: center;

        & > select {
          font-size: 18px;
          margin: 0 5px;
          padding: 5px 8px;
          background: var(--white-color);
          border: none;
          border-radius: 10px;
          cursor: pointer;

          &:focus {
            border: none;
            outline: none;
          }
        }
      }
    }

    & > .result-container__body {
      flex-grow: 1;
      width: 100%;
      max-height: 760px;
      margin-top: 20px;
      overflow-x: hidden;
      overflow-y: auto;

      & > .books {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
      }
      & > .load-more-btn {
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 15px;
        border: none;
        stroke: none;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        padding: 10px 20px;
        font-weight: 400;
        font-size: 20px;
        color: #ffffff;
        background-image: linear-gradient(
          90deg,
          #ee3866 0%,
          #e1aa00 50%,
          #ee3866 100%
        );
        background-position: 0%;
        background-size: 200%;
        background-repeat: no-repeat;

        & > a {
          color: #ffffff;
        }

        &:hover {
          // background-position: 100%;
          padding: 10px 40px !important;
        }

        &:active {
          padding: 10px 30px !important;
        }
      }
    }
  }

  &.active {
    top: 55px;
    right: 0;
    width: 100% !important;
    padding-left: 62px;
    height: 100% !important;
    max-height: 100% !important;
    border-radius: 0;
    background: linear-gradient(
      var(--text-gray100-color-90),
      var(--base-gray-color-90)
    );

    & .search-box {
      width: 400px;
    }

    & .tags-box {
      right: 10px;
    }

    & .search-icon {
      right: 20px;
    }

    & > .result-container {
      visibility: visible;
      opacity: 1;
    }
  }
}

@media (max-width: 480px) {
  .SearchInBookstore {
    width: 23px;
    height: 60px;
  }
  .SearchInBookstore .icon {
    width: 10px;
    height: 10px;
  }
}
