.ReadingSpace__note {
  width: calc(40% - 20px);
  background: var(--white-color);
  height: calc(100% - 20px);
  border-radius: 10px;
  // overflow: hidden;
  box-shadow: 0px 3px 6px var(--text-gray50-color);

  & > .fr-box {
    height: 100%;
    width: 100%;
    border: none;
    display: flex;
    flex-direction: column;

    & > .fr-toolbar {
      border: none;
    }

    & > .fr-wrapper {
      height: auto;
      border-left: none;
      border-right: none;
      // border-bottom: none;
      flex-grow: 1;
      overflow-x: hidden;
      overflow-y: scroll;
    }

    & > .fr-second-toolbar {
      display: none;
    }
  }
}
