.bookcase {
  & > .body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    padding-top: 55px;

    &::-webkit-scrollbar {
      width: 0;
    }

    & > .thumbnail-change-actions {
      position: fixed;
      top: 0px;
      right: 0;
      width: 100%;
      height: 55px;
      background: #e8e8e84d;
      z-index: 9;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      padding: 0 10px;
      transition: all 0.4s ease-in-out;

      &.active {
        top: 55px;
      }

      & > button {
        font-size: 16px;
        font-weight: 500;
        color: var(--white-color);
        padding: 5px 15px;
        border-radius: 10px;
        border: none;
        outline: none;
        margin: 0 5px;
        cursor: pointer;

        &:hover {
          filter: brightness(95%);
        }
      }

      & > .cancel {
        background: #e8e8e84d;
      }

      & > .save {
        background: var(--primary-color-orange);
      }
    }

    & > .thumbnail {
      height: 600px;
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: fixed;
      top: 55px;
      left: 0;
      z-index: 1;
      transition: all 0.3s linear;
    }

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 2;
      background-image: linear-gradient(
        to bottom,
        rgba(255, 0, 0, 0) 0,
        rgba(232, 232, 232, 1) 60%
      );
    }

    & > .content {
      & > .spacing {
        height: 350px;
        width: 100%;
        position: relative;
        z-index: 5;

        & > .intro {
          min-height: 95px;
          width: 285px;
          background: var(--white-color);
          border-radius: 10px;
          box-shadow: 0px 3px 6px var(--gray-color);
          position: absolute;
          bottom: 10px;
          left: 0;
          padding: 10px;
          display: flex;
          align-self: center;
          justify-content: center;

          & > p {
            font-size: 25px;
            color: var(--gray-color);
          }
        }

        & > .camera {
          height: 35px;
          width: 35px;
          background: var(--white-color);
          border-radius: 10px;
          box-shadow: 0px 3px 6px var(--gray-color);
          position: absolute;
          bottom: 10px;
          right: 0;
          border: none;
          outline: none;
          background-position: center;
          background-repeat: no-repeat;
          overflow: hidden;

          & > input {
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
          }

          &:hover {
            filter: brightness(90%);
          }
        }
      }
    }
  }
}
