@mixin animate($animation, $delay, $duration, $method, $times) {
  animation: $animation $delay $duration $method $times;
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

.ReadingSpace__book {
  width: calc(58% - 20px);
  background: transparent;
  height: calc(100% - 20px);
  border-radius: 10px;
  overflow: hidden;
  position: relative;

  & > .rpv-core__viewer {
    background: transparent;

    & > div {
      background: transparent;
    }

    & .rpv-core__inner-page {
      background: transparent;
      background-color: none;
    }
  }

  &__control {
    height: 54px;
    width: 690px;
    background: var(--white-color);
    border-radius: 10px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0px 3px 6px var(--text-gray50-color);
    justify-content: space-between;
    padding: 4px;
    opacity: 0;
    transition: all 0.2s 2s linear;

    &:hover {
      bottom: 30px;
      opacity: 100%;
      transition: all 0.2s linear;
    }

    & button {
      width: 24px;
      height: 24px;
      display: inline-block;
      text-align: center;
      border: 0;
      cursor: pointer;
      outline: none;
      box-sizing: content-box;
      padding: 8px;
      margin: 4px;
      border-radius: 10px;
      background-size: 24px 24px;
      background-repeat: no-repeat;
      background-position: center;
      background-color: var(--white-color);
      transition: box-shadow 0.2s linear;

      &:hover:enabled {
        filter: brightness(95%);
      }

      &:disabled {
        filter: brightness(130%);
      }
    }

    & p {
      font-size: 16px;
      line-height: 16px;
      color: var(--text-gray100-color);
    }

    & > .center,
    .left,
    .right {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    & > .left {
      & > .full-screen {
        background-image: url("../../../../static/jpg/full-screen.svg");
      }
      & > .translate-container {
        position: relative;

        &.active {
          & > .translate-content {
            display: flex;
            flex-direction: column;
            position: absolute;
            bottom: 50px;
            left: 0;
            width: 430px;
            height: 160px;
            border-radius: 10px 10px 10px 0;
            border: 1px solid var(--primary-color-orange);
            background: var(--white-color);

            &::after {
              content: "";
              height: 49px;
              width: 48px;
              background: var(--white-color);
              border-radius: 0 0 10px 10px;
              position: absolute;
              bottom: -50px;
              left: -1px;
              z-index: 1;
              border-bottom: 1px solid var(--primary-color-orange);
              border-left: 1px solid var(--primary-color-orange);
              border-right: 1px solid var(--primary-color-orange);
            }

            & > .translate-content__top {
              display: flex;
              flex-direction: row;
              padding: 10px;
              align-items: center;

              & > .src {
                flex-grow: 1;
                border-radius: 10px;
                font-size: 18px;
                color: var(--text-gray100-color);
                border: 1px solid var(--text-gray100-color);
                outline: none;
                color: var(--text-black-color);
                padding: 10px;
                height: 35px;

                &:active {
                  outline: none;
                }
              }

              & > button {
                width: 50px !important;
                height: 34px !important;
                padding: unset !important;
                color: var(--white-color);
                background: var(--primary-color-orange);
                transition: all 0.3s ease-in-out;

                &:disabled {
                  background: var(--text-gray100-color);
                }
              }
            }

            & > .translate-content__bottom {
              flex-grow: 1;
              padding: 0 10px 10px 10px;

              & > p {
                background: var(--base-gray-color);
                border-radius: 10px;
                width: 100%;
                height: 100%;
                padding: 10px;
                text-align: left;
                color: var(--text-black-color);
              }
            }
          }

          & > .translate {
            transition: all 0.3s ease-in-out;
            background-image: url("../../../../static/jpg/translate_active.svg");
          }
        }
        & > .translate {
          position: relative;
          transition: all 0.3s ease-in-out;
          background-image: url("../../../../static/jpg/translate.svg");
          z-index: 2;
        }
      }
    }

    & > .center {
      position: absolute;
      top: auto;
      bottom: auto;
      left: 50%;
      transform: translateX(-50%);

      & > .go-to-first-page {
        background-image: url("../../../../static/jpg/go-to-first-page.svg");
      }

      & > .go-to-previous-page {
        background-image: url("../../../../static/jpg/go-to-previous-page.svg");
      }

      & > .go-to-last-page {
        background-image: url("../../../../static/jpg/go-to-first-page.svg");
        transform: scale(-1);
      }

      & > .go-to-next-page {
        background-image: url("../../../../static/jpg/go-to-previous-page.svg");
        transform: scale(-1);
      }

      & > .current-page {
        height: 40px;
        width: 40px;
        border-radius: 10px;
        box-shadow: 0px 3px 6px var(--text-gray50-color);
        margin: 8px;
        line-height: 40px;
      }
    }

    & > .right {
      & > .zoom-out {
        background-image: url("../../../../static/jpg/zoom-out.svg");
      }

      & > .zoom-in {
        background-image: url("../../../../static/jpg/zoom-in.svg");
      }
    }
  }
}
